<h1>Student Information</h1>
<a class="btn btn-primary" href="/Student/create">Add Student</a>
<table id="studentTable" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Languages</th>
            <th>Course</th>
            <th>Profile Image</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table body will be populated dynamically using AJAX -->
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:5178/StudentApi",
                success: function (data) {
                    // Clear existing table rows
                    $('#studentTable tbody').empty();

                    // Loop through the data and populate table rows
                    $.each(data, function (index, student) {
                        var languages = student.c_language.join(", ");
                        var profileImage = student.c_profile != null && student.c_profile.length > 0 ?
                            `<img src="/images/${student.c_profile}" alt="Profile Image" style="max-width: 100px; max-height: 100px;" />` :
                            '';

                        var row = `<tr>
                                                <td>${student.c_id}</td>
                                                <td>${student.c_name}</td>
                                                <td>${student.c_dob}</td>
                                                <td>${student.c_gender}</td>
                                                <td>${student.c_address}</td>
                                                <td>${languages}</td>
                                                <td>${student.c_course}</td>
                                                <td>${profileImage}</td>
                                                <td>${student.c_phone}</td>
                                                <td>
                                                    <a href="/Student/EditStudent/${student.c_id}" class="btn btn-primary">Edit</a>
                                                    <p> </p>
                                                    <a href="/Student/DeleteStudent/${student.c_id}" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>`;

                        $('#studentTable tbody').append(row);
                    });
                }
            });
        });
    </script>
}
